<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ProbityEducationServer</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ProductsServlet</display-name>
    <servlet-name>ProductsServlet</servlet-name>
    <servlet-class>com.xpy.action.ProductsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductsServlet</servlet-name>
    <url-pattern>/products</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.jpg</url-pattern>
    <url-pattern>*.JPG</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InitProductsDbServlet</display-name>
    <servlet-name>InitProductsDbServlet</servlet-name>
    <servlet-class>com.xpy.action.InitProductsDbServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitProductsDbServlet</servlet-name>
    <url-pattern>/initproducts</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertMessageServlet</display-name>
    <servlet-name>InsertMessageServlet</servlet-name>
    <servlet-class>com.xpy.action.InsertMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertMessageServlet</servlet-name>
    <url-pattern>/insertmessage</url-pattern>
  </servlet-mapping>
</web-app>